doctype html
html(ng-app='stackApp')
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel="manifest" href="/javascripts/pwa.manifests")
    link(rel="apple-touch-icon" href="/images/splash-screeen.png")
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.5/angular.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.5/angular-resource.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.5/angular-route.js')
    script(src="https://rawgit.com/michaelbromley/angularUtils-pagination/master/dirPagination.js")
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js")
    script(src='/javascripts/stack.js')
    script(src='./serviceworkernew.js')
    script(src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.1/angular-sanitize.js")
    meta(name="viewport", content="width=device-width", initial-scale="1")
    meta(name="theme-color" ,content="#764ABC")
   
  body
    block content
